<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BelTech Countdown</title>
    <link rel="shortcut icon" href="<%= asset_pack_url('images/favicon.ico') %>" type="image/x-icon" />

    <%= render_social_meta(@social_meta) %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>

    <%= content_for(:header) %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
